ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

p {
  color:red;
}

.note { /*.class selector*/
  font-size: 20px;
}

#id-selector-demo { /*#id selector*/
  color: green;
}

li[value="4"] { /*attribute selector element[attribute]*/
  color: blue;
}

* {
  text-align: center;
}