.heading {
    font-family: 'DM Sans', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Open Sans', sans-serif;
font-weight: 515;
}

.title {
    font-size: 60px;
    color: white;
    font-weight: 550;
}

.title-text {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 545;
    font-size: 30px;
}   

.carousel-width {
    max-height: 600px
}

#hero {
    min-height: 836px;
}

@media (min-width: 600px) {
    #hero {
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-color: #DCAF85;
    }
}

